* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #060ab2;
}
header {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 10px;
	/* background: #1c7ccc; */
	background: #333;
	color: #fff;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: -50px;
}
.memory-game {
	width: 480px;
	height: 480px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
}
.memory-card {
	width: calc(25% - 10px);
	height: calc(33.33% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.memory-card:active {
	transform: scale(0.97);
	transition: transform 0.2s;
}

.memory-card.flip {
	transform: rotateY(180deg);
}
.front-face,
.back-face {
	width: 100%;
	height: 100%;
	padding: 15px;
	position: absolute;
	border-radius: 5px;
	background: #1c7ccc;
	backface-visibility: hidden;
}
.front-face {
	transform: rotateY(180deg);
}
.reset {
	position: absolute;
	padding: 10px;
	bottom: -70px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	color: #060ab2;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
@media (max-width: 600px) {
	.memory-game {
		width: 97vw;
		height: 360px;
		margin-top: 100px;
	}
	.memory-card {
		width: calc(25% - 6px);
		height: calc(33.33% - 6px);
		margin: 3px;
	}
	.back-face {
		padding: 10px;
	}
}
